.container-fluid
  .row.searches
    .col-md-4
      = select_tag :brand, options_for_select(GSMARENA_BRANDS), class: 'select_brand', prompt: "Select an phone"

    .col-md-4@phoneSelect

    .col-md-4
      = text_field_tag :query, nil , class: 'form-control', id: 'search_input', placeholder: "Search..."
  .row.results
    @results
