
$('@phoneSelect').html("<%= j( render partial: 'home/shared/phone_select', locals: { phones: phones_collection }) %>");
$('.select_phone').select2({
  placeholder: 'Select an phone',
  theme: 'bootstrap',
  width: '100%'
});
$('.select_phone').on('select2:select', function(evt) {
  $.ajax({
    url: Routes.phone_path({
      phone_path: $('.select_phone').val()
    }),
    type: 'GET',
    dataType: 'script'
  });
});
