<%- if phones_collection.is_a?(Gsmarena::Phone) %>
  $('@results').html("<%= j( render partial: 'home/shared/phone_info', locals: { phone: phones_collection }) %>");
  $('.fotorama').fotorama({autoplay: 3000});
<% else %>
  $('@results').html("<%= j( render partial: 'home/shared/phones', locals: { phones: phones_collection, text: phones_search.results_count_text }) %>");
<% end %>