h3
  strong
    = text.html_safe if text.present?
- if phones.present?
  .makers
    ul
      - phones.each do |phone|
        li
          = link_to phone_path({ phone_path: phone[:href] }), remote: true do
            = image_tag(phone[:img], title: phone[:title])
            strong
              = phone[:text]
