- if phone.present? 
  - if phone.name.present? 
    h3
      strong
        = phone.name
  - if phone.photos.any?
    .fotorama
      - phone.photos.each do |photo|
        = image_tag photo
  - if phone.attributes.any?
    table.table 
      tbody
        - phone.attributes.each do |tech_types|
          - tech_types.each do |tech_type, values|
            tr 
              th rowspan="#{values.count + 1 }"
                = tech_type
              - values.each_with_index do |technology, index|
                tr
                  - technology.each do |tech, value|
                    td 
                      = tech
                    td 
                      - if value.include?('- ')
                        - value.split('- ').reject(&:empty?).each do |line|
                          = '- ' + line
                          br
                      -else
                        = value
-else
  h3
    | Sorry, cant find such phone