.makers{
  ul {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: top;
      list-style: outside none none !important;
      margin: 0 10px 10px;
      padding-top: 0;
      position: relative;
      text-align: center;
      width: 200px;

      img{
        max-width: 100%;
      }
    }
    li:hover strong {
      background: red;
    }
  }

  strong {
    bottom: 12px;
    clear: both;
    color: #777;
    display: block;
    margin: 0 auto;
    padding: 28px 5px;
    text-decoration: none;
    width: 100%;
  }
}

.fotorama__wrap {
  direction: ltr;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.searches {
  padding: 20px 20px;
}

h3 {
  text-align: center;
}